<div class="col-sm-12">
<h5>Informações do Banco:</h5>
    <label for="banco" class="form-label">Banco:</label>
    <input type="text" name="banco" class="form-control" value="{{update.banco}}">
</div>
<div class="col-sm-6">
    <label for="agencia" class="form-label">Agência:</label>
    <input type="number" name="agencia" class="form-control" value="{{update.agencia}}">

    <label for="numeroConta" class="form-label">Número Conta:</label>
    <input type="number" name="numeroConta" class="form-control" value="{{update.numeroConta}}">
      
    <label for="favorecido" class="form-label">Favorecido:</label>
    <input type="text" name="favorecido" class="form-control" value="{{update.favorecido}}">
</div>
<div class="col-sm-6">
    <label for="cpf_cnpj" class="form-label">CPF/CNPJ:</label>
    <input type="number" name="cpf_cnpj" class="form-control" value="{{update.cpf_cnpj}}">

    <label for="taxaAdesao" class="form-label">Taxa Adesão:</label>
    <input type="number" name="taxaAdesao" class="form-control" value="{{update.taxaAdesao}}">

    <label for="mensalidade" class="form-label">Mensalidade:</label>
    <input type="number" name="mensalidade" class="form-control" value="{{update.mensalidade}}">
</div>