<div class="container mt-4 card">
    <table  class="table table-striped">
      <thead>
        <tr>
          <th>Nome da Loja</th>
          <th>CNPJ</th>
          <th>Endereço</th>
          <th>UF</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>CEP</th>
          <th>Forma de Cadastro</th>
          <th>Consultor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr> 
            <td>{{search.nomeLoja}}</td>
            <td>{{search.cnpj}}</td>
            <td>{{search.endereco}}</td>
            <td>{{search.uf}}</td>
            <td>{{search.bairro}}</td>
            <td>{{search.cidade}}</td>
            <td>{{search.cep}}</td>
            <td>{{search.cadastro}}</td>
            <td>{{search.consultor}}</td>
            <td><a href="/store/update/{{search._id}}"><img src="/img/edit.png" width="30" height="18"></a></td>
          </tr>
      </tbody>
    </table>
  </div>